# Set the default behavior, in case people don't have core.autocrlf set.
* text eol=lf

# Explicitly declare text files you want to always be normalized and converted
# to line endings on checkout.
*.c text
*.h text
*.txt text
*.deck text
*.in text

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
